# Ignora base de datos local
db.sqlite3

# Ignora perfiles de navegador
profiles/

# Ignora archivos temporales
*.log
*.LOCK
*.LOG
*.pb
*.pb.gz
*.dat
*.journal
*.tflite
*.db
*.idx
*.pma
*.tmp

# Ignora cachés del navegador
Default/
Crashpad/
